---
# Short-lived, unrestricted credential used only for Magnum create/delete.
clouds:
  openstack:
    auth:
      auth_url: https://js2.jetstream-cloud.org:5000/v3
      application_credential_id: "<MAGNUM_APP_CREDENTIAL_ID>"
      application_credential_secret: "<MAGNUM_APP_CREDENTIAL_SECRET>"
    auth_type: v3applicationcredential
    region_name: IU
    interface: public
    identity_api_version: 3
